<div class="cal">
  <div class="header">
    <h1>{{monthDate}}</h1>
    <div class="right"></div>
    <div class="left"></div>
  </div>
  <div class="month new">
    <div class="row">
      <div class="day col">
        <div class="day-name">sun</div>
        <div class="day-number">01</div>
        <div class="day-events"><span class="blue"></span></div>
      </div>
      <div class="day col">
        <div class="day-name">sun</div>
        <div class="day-number">01</div>
        <div class="day-events"><span class="blue"></span></div>
      </div>
      <div class="day col">
        <div class="day-name">sun</div>
        <div class="day-number">01</div>
        <div class="day-events"><span class="blue"></span></div>
      </div>
      <div class="day col">
        <div class="day-name">sun</div>
        <div class="day-number">01</div>
        <div class="day-events"><span class="blue"></span></div>
      </div>
      <div class="day col">
        <div class="day-name">sun</div>
        <div class="day-number">01</div>
        <div class="day-events"><span class="blue"></span></div>
      </div>
      <div class="day col">
        <div class="day-name">sun</div>
        <div class="day-number">01</div>
        <div class="day-events"><span class="blue"></span></div>
      </div>
      <div class="day col">
        <div class="day-name">sun</div>
        <div class="day-number">01</div>
        <div class="day-events"><span class="blue"></span></div>
      </div>

    </div>

  </div>

</div>