<ion-view view-title="Login" class="login">
    <form ng-submit="doLogin()" name="loginForm">
      <div class="login-form">
        <h2 class="login-title">ktcs R2BIS</h2>
        <label class="login-label">
          <input type="text" placeholder="사원번호" ng-model="uid" ng-required="true">
        </label>
        <label class="login-label">
          <input type="password" placeholder="패스워드" ng-model="pwd" ng-required="true">
        </label>
        <label class="checkbox">
          <input type="checkbox" style="display: inline-block"><sapn class="chk-txt">자동로그인</sapn>
        </label>
        <article>
          <h5>E-HR과 동일한 사원번호를 사용합니다.</h5>
        </article>
        <label class="login-label">
          <button class="button button-outline button-assertive login-button-radius margin-top-30" type="submit">
            Login
          </button>
        </label>
      </div>
    </form>

    <footer class="footer login-footer txt-siteinfo">
      <div class="title">
        <address class="margin-0">302-716 대전광역시 서구 갈마로 160.</address>
        <p>copyrightⓒIT지원팀. all rights reserved.</p>
      </div>

        <!--<p class="txt-email">E-mail : <a href="mailto:tjkim@ktcs.co.kr">tjkim@ktcs.co.kr</a></p>-->
      <p></p>
    </footer>
</ion-view>