<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="일일실적 상세">
  <ion-content class="padding">
    <div class="list card" ng-repeat="(key, value) in recordList" >
      <div class="item item-divider">{{value.date}}</div>
      <div class="item item-body">
        <div>
          <a class="item" ng-repeat="(key_, value_) in value" ng-if="except(key_)">
            {{key_}}
            <span class="badge badge-assertive">{{value_}}</span>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
