<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="일일실적 상세">
  <ion-content class="padding">
    <div class="list card" ng-repeat="record in recordList">
      <div class="item item-divider">{{record.day}}</div>
      <div class="item item-body">
        <div>
          <a class="item" href="#">
            KT
            <span class="badge badge-assertive">{{record.KT}}</span>
          </a>
          <a class="item" href="#">
            SKT
            <span class="badge badge-assertive">{{record.SKT}}</span>
          </a>
          <a class="item" href="#">
            LGU
            <span class="badge badge-assertive">{{record.LGU}}</span>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
