<ion-view view-title="근태관리">
  <ion-content class="padding">
    <div>
      <label class="item-stacked-label">
        <span class="date-picker-input-label">시작 날짜</span>
        <input type="text" class="date-picker-input" pick-a-date="date" pick-a-date-options="fromOptions"  ng-model="fromDate"/>
      </label>

      <hr>
      <label class="item-stacked-label">
        <span class="date-picker-input-label">종료 날짜</span>
        <input type="text" class="date-picker-input" pick-a-date="date" pick-a-date-options="toOptions" ng-model="toDate"/>
      </label>
      <hr>
      <button class="button button-royal search-button" ng-click="searchWorks()">
        조회하기
      </button>
      <hr>
    </div>
  </ion-content>
</ion-view>
